.rotate {
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: -225rem;
    overflow: hidden;
}

@media screen and (max-width: 1080px) {
    .rotate {
        text-align: center;
        justify-content: center;
        align-items: center;
        margin-top: -230rem;
        overflow: hidden;
    }
}

@media screen and (max-width: 1000px) {
    .rotate {
        text-align: center;
        justify-content: center;
        align-items: center;
        margin-top: -300rem;
        overflow: hidden;
    }
}

@media screen and (max-width: 760px) {
    .rotate {
        text-align: center;
        justify-content: center;
        align-items: center;
        margin-top: -310rem;
        overflow: hidden;
    }
}

@media screen and (max-width: 600px) {
    .rotate {
        text-align: center;
        justify-content: center;
        align-items: center;
        margin-top: -460rem;
        overflow: hidden;
    }
}

@media screen and (max-width: 520px) {
    .rotate {
        text-align: center;
        justify-content: center;
        align-items: center;
        margin-top: -450rem;
        overflow: hidden;
    }
}

@media screen and (max-width: 455px) {
    .rotate {
        text-align: center;
        justify-content: center;
        align-items: center;
        margin-top: -435rem;
        overflow: hidden;
    }
}

@media screen and (max-width: 415px) {
    .rotate {
        text-align: center;
        justify-content: center;
        align-items: center;
        margin-top: -425rem;
        overflow: hidden;
    }
}

@media screen and (max-width: 300px) {
    .rotate {
        text-align: center;
        justify-content: center;
        align-items: center;
        margin-top: -435rem;
        overflow: hidden;
    }
}

@media screen and (max-width: 255px) {
    .rotate {
        text-align: center;
        justify-content: center;
        align-items: center;
        margin-top: -448rem;
        overflow: hidden;
    }
}