.rotate {
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: -222rem;
    overflow: hidden;
    
}

@media screen and (max-width: 1070px) {
    .rotate {
        margin-top: -230rem;
    }
}

@media screen and (max-width: 1025px) {
    .rotate {
        margin-top: -310rem;
    }
}

@media screen and (max-width: 900px) {
    .rotate {
        margin-top: -303rem;
    }
}

@media screen and (max-width: 775px) {
    .rotate {
        margin-top: -313rem;
    }
}

@media screen and (max-width: 655px) {
    .rotate {
        margin-top: -320rem;
    }
}

@media screen and (max-width: 601px) {
    .rotate {
        margin-top: -475rem;
    }
}

@media screen and (max-width: 575px) {
    .rotate {
        margin-top: -470rem;
    }
}

@media screen and (max-width: 555px) {
    .rotate {
        margin-top: -466rem;
    }
}

@media screen and (max-width: 530px) {
    .rotate {
        margin-top: -462rem;
    }
}

@media screen and (max-width: 500px) {
    .rotate {
        margin-top: -456rem;
    }
}

@media screen and (max-width: 480px) {
    .rotate {
        margin-top: -452rem;
    }
}

@media screen and (max-width: 456px) {
    .rotate {
        margin-top: -443rem;
    }
}

@media screen and (max-width: 420px) {
    .rotate {
        margin-top: -433rem;
    }
}

@media screen and (max-width: 350px) {
    .rotate {
        margin-top: -430rem;
    }
}

@media screen and (max-width: 314px) {
    .rotate {
        margin-top: -435rem;
    }
}

@media screen and (max-width: 297px) {
    .rotate {
        margin-top: -439rem;
    }
}

@media screen and (max-width: 279px) {
    .rotate {
        margin-top: -443rem;
    }
}

@media screen and (max-width: 264px) {
    .rotate {
        margin-top: -446rem;
    }
}