



header {
    height: 100vh;
    overflow: hidden;
}

.header__container {
    text-align: center;
    height: 100%;
    position: relative;
}

.bubbles {
    position: relative;
    display: flex;
    justify-content: space-around;
}

.bubbles span {
    position: relative;
    width: 30px;
    height: 30px;
    background: #4fc3dc;
    margin: 0 4px;
    border-radius: 50%;
    box-shadow: 0 0 0 10px #4fc3dc44,
    0 0 50px #4fc3dc,
    0 0 100px #4fc3dc;   
}

.b1 {
    animation: animate 15s linear infinite;
}

.b2 {
    animation: animate 5s linear infinite;
}

.b3 {
    animation: animate 12s linear infinite;
}

.b4 {
    animation: animate 34s linear infinite;
}

.b5 {
    animation: animate 19s linear infinite;
}

.b6 {
    animation: animate 7s linear infinite;
}

.b7 {
    animation: animate 32s linear infinite;
}

.b8 {
    animation: animate 15s linear infinite;
}

.b9 {
    animation: animate 27s linear infinite;
}

.b10 {
    animation: animate 31s linear infinite;
}

.b11 {
    animation: animate 3s linear infinite;
}

.b12 {
    animation: animate 19s linear infinite;
}

.b13 {
    animation: animate 24s linear infinite;
}

.b14 {
    animation: animate 16s linear infinite;
}

.b15 {
    animation: animate 15s linear infinite;
}

.b16 {
    animation: animate 42s linear infinite;
}

.b17 {
    animation: animate 12s linear infinite;
}

.b18 {
    animation: animate 37s linear infinite;
}

.b19 {
    animation: animate 17s linear infinite;
}

.b20 {
    animation: animate 23s linear infinite;
}

.bubbles span:nth-child(even) {
    background: #0080ff;
    box-shadow: 0 0 0 10px #0080ff44,
                0 0 50px #0080ff55,
                0 0 100px #0080ff88;
}



@keyframes animate {
    0% {
        transform: translateY(100vh) scale(0);
    }

    100% {
        transform: translateY(-10vh) scale(1);
    }

    50% {
        opacity: 0.1
    }

    80% {
        opacity: .7
    }
}

/* ======================== CTA ========================== */

.cta {
    margin-top: 2.5rem;
    display: flex;
    gap: 1.2rem;
    justify-content: center;
}

/* ======================== HEADER SOCIALS ========================== */

.header__socials {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    position: absolute;
    left: 0;
    bottom: 3rem;
    top: 7rem;
}

.header__socials::after {
    content: "";
    width: 1px;
    height: 2rem;
    background: var(--color-primary);
}

/* ======================== ME ========================== */

.me {
    background: #4b6cb7;
    background: -webkit-linear-gradient(to right, #182848, #4b6cb7);
    background: linear-gradient(to right, #182848, #4b6cb7);
    width: 19rem;
    height: 20rem;
    left: calc(50% - 10rem);
    margin-top: 3rem;
    border-top-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    border-top-right-radius: 5rem;
    border-bottom-left-radius: 5rem;
    overflow: hidden;
    position: absolute;
    transform: var(--transition);
    cursor: not-allowed;
}





.me img {
    width: 100%;
    height: auto;
} 

.img-text,
.me:after {
    width: 100%;
    position: absolute;
    left: 0;
}

.me::after {
    content: '';
    height: 100%;
    top: 0;
    transition: 0.5s;
}

.me:hover:after {
    background: linear-gradient(to bottom, rgba(199, 9, 57, .01), rgba(199, 0, 57, .01) 25%, #2c2c6c 85%);
}

.img-text {
    padding: 20px;
    margin-bottom: 20px;
    bottom: 0;
    z-index: 1;
    transform: translateY(145px);
    transition: all .5s cubic-bezier(.13, .62, .81, .91) 0s;   
}

.img-text h3 {
    font-family: big john;
}

.me:hover .img-text {
    transform: translateY(0);
}



/* =======================  MEDIA QUERIES (SMALL DEVICES) ===================== */

@media screen and (max-width: 600px) {
 .header__socials {
    display: none;
 }
}