#certificates {
  margin-top: 2rem;
}

.certificates__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.5rem;
}

.certificates__item {
  padding: 1.2rem;
  border-radius: 2rem;
  border: none;
  transition: var(--transition);
  cursor: pointer;
}

.certificates__item:hover {
  border: transparent;
  background: var(--color-bg-variant);
  transform: scale(1.1);
}

.certificates__item-image {
  border-radius: 1.5rem;
  overflow: hidden;
}

.certificates__item h3 {
  margin: 1.2rem 0 2rem;
  text-align: center;
}

.certificates__item-cta {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
  justify-content: center;
}

@keyframes blink {
  50% {
      opacity: 0.1
  }

  80% {
      opacity: .8
  }
}

.blink {
  animation: blink 1.5s linear infinite;
  font-weight: 500;
}

.blink {
    animation: blink 1.5s linear infinite;
    font-weight: 500;
}

.col {
    transition: all 400ms ease;
}

.col:hover {
    transform: scale(1.1);
    transition: all 400ms ease;
}


.content {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background: rgba(61, 61, 167, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    transition: 0.6s;
    z-index: 100;
}

.content:hover {
    opacity: 1;
}

.pops {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.9);
  height: 100%;
  width: 100%;
  z-index: 100;
  display: none;
}

.pops button {
  position: absolute;
  top: 0;
  right: 10px;
  font-size: 40px;
  font-weight: bolder;
  color: var(--color-primary);
  cursor: pointer;
  z-index: 100;
  background: transparent;
  border-radius: 10%;
}

.pops img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 5ps solid #fff;
  border: 5px;
  width: 750px;
  object-fit: cover;
}

@media screen and (max-width: 760px) {
      .pops img {
        width: 500px;
      }
}

@media screen and (max-width: 494px) {
    .pops img {
      width: 400px;
    }
}

/* =======================  MEDIA QUERIES (SMALL DEVICES) ===================== */

@media screen and (max-width: 600px) {
  .certificates__container {
      grid-template-columns: 1fr;
      gap: 1rem;
  }
}

@keyframes blink {
    50% {
        opacity: 0.1
    }

    80% {
        opacity: .8
    }
}

/* =======================  MEDIA QUERIES (MEDIUM DEVICES) ===================== */

@media screen and (max-width: 1024px) {
  .certificates__container {
      grid-template-columns: 1fr 1fr;
      gap: 1.2rem;
  }
}